@charset "utf-8";

.frame {
    position: relative;
}

.modal {
    position: absolute;
    text-align: center;
    font-size: 2vw;
    background-color: sandybrown;
    border: black solid medium;
}

.modal select, .modal input {
    font-size: 2vw;
}

.spade, .club {
    color: black;
}

.heart, .diamond {
    color: red;
}

.hidden_radio {
    font-size: larger;
}

.hidden_radio input[type='radio'] {
    opacity: 0;
}

.hidden_radio input[type='radio'] + span {
    padding: 0 0.15em;
    background-color: white;
    border: black solid thin;
    margin-left: -0.8em;
    margin-right: 0.2em;
}

.hidden_radio input[type='radio']:checked + span {
    border: magenta solid thick;
}

#bid_dialog {
    left: 34vw;
    top: 17.5vw;
    width: 30vw;
    height: 21.25vw;
}

#designation_dialog {
    left: 29vw;
    top: 15vw;
    width: 40vw;
    height: 26vw;
}

#discard_button {
    position: absolute;
    left: 39vw;
    top: 35vw;
    width: 20vw;
    font-size: 3vw;
}

#request_dialog {
    display: none;
    left: 29vw;
    top: 17.5vw;
    width: 40vw;
    height: 21.25vw;
}

#result_dialog {
    left: 31.5vw;
    top: 20vw;
    width: 35vw;
    height: 16.25vw;
}

#result_dialog input {
    font-size: 2.5vw;
}
